<?xml version="1.0"?>
<robot name="ridgeback" xmlns:xacro="http://ros.org/wiki/xacro">
    <transmission name="x_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="x">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      </joint>
      <actuator name="x_actuator">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="y_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="y">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      </joint>
      <actuator name="y_actuator">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="angle_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="angle">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      </joint>
      <actuator name="angle_actuator">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
</robot>
