[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pybullet = "*"
ipython = "*"
liegroups = {editable = true, ref = "master", git = "https://github.com/utiasSTARS/liegroups.git"}

[dev-packages]

[requires]
python_version = "3.7"
