<?xml version="1.0" encoding="utf-8"?>
<robot name="Obstacles">
  <link name="obstacle1_link">
    <visual>
      <origin rpy="0 0 0" xyz="1.25 0 0.25"/>
      <geometry>
        <cylinder length="0.5" radius="0.25"/>
      </geometry>
      <material name="Red">
        <color rgba="1.0 0.0 0.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="1.25 0 0.25"/>
      <geometry>
        <cylinder length="0.5" radius="0.25"/>
      </geometry>
    </collision>
  </link>
</robot>
