<?xml version="1.0"?>

<launch>
  <arg name="config"/>
  <arg name="use_sim_time" default="false"/>

  <!-- use simulation time -->
  <param name="/use_sim_time" value="$(arg use_sim_time)" type="bool"/>

  <!-- MPC -->
  <include file="$(find upright_ros_interface)/launch/mpc.launch" >
    <arg name="config" value="$(arg config)"/>
  </include>

  <!-- MRT -->
  <node pkg="upright_ros_interface" type="mrt_node" name="mrt_node" output="screen" required="True" args="$(arg config)" />

  <!-- Kalman filter estimator. Set process and measurement noise variance. -->
  <param name="activation_height" type="double" value="0.8"/>
  <param name="pos_proc_var" type="double" value="1.0"/>
  <param name="vel_proc_var" type="double" value="1.0"/>
  <param name="pos_meas_var" type="double" value="1.0"/>
  <node pkg="mobile_manipulation_central" type="projectile_vicon_estimator_node" name="projectile_vicon_estimator_node" output="screen" required="True"/>
</launch>
