<?xml version="1.0"?>

<launch>
  <!-- Kalman filter estimator. Set process and measurement noise variance. -->
  <param name="/projectile/activation_height" type="double" value="0.8"/>
  <param name="/projectile/nis_bound" type="double" value="14.156"/>
  <param name="/projectile/proc_var" type="double" value="1000.0"/>
  <param name="/projectile/meas_var" type="double" value="0.0001"/>
  <param name="/projectile/vicon_object_name" type="str" value="ThingVolleyBall"/>
  <node pkg="mobile_manipulation_central" type="projectile_vicon_estimator_node" name="projectile_vicon_estimator_node" output="screen" required="True"/>
</launch>
