<?xml version="1.0" ?>
<robot name="mm_pyb_tray" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="base_joints.urdf.xacro" />
  <xacro:include filename="../mm.urdf.xacro" />
  <xacro:include filename="../end_effector_tray.urdf.xacro" />
  <xacro:include filename="../visual_collision_links.urdf.xacro" />
</robot>
