<?xml version="1.0" ?>
<robot name="mm_pyb_fingers" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="base_joints.urdf.xacro" />
  <xacro:include filename="$(find mobile_manipulation_central)/urdf/xacro/thing_no_wheels.urdf.xacro" />
  <xacro:include filename="../end_effector_fingers.urdf.xacro" />
</robot>
